[alias]
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
[user]
  name = Oliver Xu
  email = olxu@hotmail.com
  signingKey = C6BA47C09A13D39F
[commit]
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
[http]
  postBuffer = 524288000
	sslVerify = false
[credential]
  helper = osxkeychain

